html, body {
  height: 100vh;
  background-color: blanchedalmond;
}

.container {
  height: 100%;
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center
}

input[type=range] {
  -webkit-appearance: slider-vertical;
  height: 80%;
}
